<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caseybrooks.scripturememory"
    android:versionCode="21"
    android:versionName="3.0" >

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.BaseLight" >

        <!-- General Broadcast Receivers -->
        <receiver
            android:name=".notifications.MainNotification$DismissVerseReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".notifications.VOTDNotification$VOTDSaveVerseReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".data.MetaReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name=".MetaReceiver.NEXT_VERSE" />
                <action android:name=".MetaReceiver.SAVE_VERSE" />
                <action android:name=".MetaReceiver.VOTD_ALARM" />
                <action android:name=".MetaReceiver.UPDATE_ALL" />
            </intent-filter>
        </receiver>

        <!-- Services -->
        <service android:name="data.MetaService$VOTDService" />
        <service android:name="data.MetaService$SearchService" />

        <!-- Activities -->
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.caseybrooks.scripturememory.activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.About"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.MainActivity" />

                <category android:name="android.intent.category.Default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Changelog"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_changelog"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <!-- Widgets -->
        <receiver
            android:name=".widgets.MainVerseWidget"
            android:label="SM - Notification Verse" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name=".MainVerseWidget.updateAllWidgets" />
                <action android:name=".MainVerseWidget.nextButtonClicked" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/main_verse_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.VOTDWidget"
            android:label="SM - Verse of the Day" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name=".VOTDWidget.REFRESH_ALL" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/votdwidget_info" />
        </receiver>
    </application>

</manifest>
